<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
    <p>Hi,</p>
    <p>
        <p>This is an automated email notifying you that you've been reassigned for an existing task:</p>
        <strong>Task title</strong>: <span th:text="${title}">Task Title Placeholder</span> </br>
        <strong>Task description</strong>: <span th:text="${description}">Task Description Placeholder</span> </br>
        <strong>Task is due by</strong>: <span th:text="${dueDate}">Task Description Placeholder</span> </br>
    </p>
    </body>
</html>